* {
    font-family: 'Jost', sans-serif;
    font-weight: 800;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(fundodesfocado.jpeg);
}

h1 {
    text-align: center;
}

button {
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
}


.botao {
    display: flex;
    justify-content: center;
}

li {
    margin-bottom: 10px;
}
